<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

   <nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="/"><img src="/images/BourbonBarrel.png" height='25px'/></a>
      </div>
      <div>
         <ul class="nav navbar-nav">
           <li class="active"><a href="/">Welcome</a></li>
           <li><a href="/findUser">Find by Twitter handle</a></li>
           <li><a href="/updateUser">Edit by Twitter handle</a></li>
           <li><a href="/deleteyouraccount">Delete your account</a></li>
         </ul>
      </div>
   </div>
   </nav>

    {{{body}}}

  <div class="footer bg-dark text-center" style="background-color: grey">
        <p><b>My App!</b></p>

  </div>
</div>
</body>
</html>
