<h4>Enter a twitter handle to search for</h4>
<p><form action='/findForm' method='post'>
  <p>Twitter handle (https://www.twitter.com/): <input name='tweet'></p>
  <input type=submit value='Submit'></form></body></html>
</form>
