<h4>Enter a twitter handle to update</h4>
<h6>Leaving any of these forms blank will overwrite any record that exists</h6>
<h6>So please fill in any profile you want to remain working, even if it is currently working.</h6>
<h6>This form uses your twitter handle to fetch your account information. If you do not have a twitter on file this will not work.</h6>
<p><form action='/updateForm' method='post'>
  <p>Twitter handle (https://www.twitter.com/): <input name='tweet'></p>
  <p>Update Instagram: <input name='ig'></p>
  <p>Update Facebook: <input name='fb'></p>
  <p>Update LinkedIn: <input name='lnk'></p>
  <p>Update Youtube: <input name='yt'></p>
  <input type=submit value='Submit'></form></body></html>
</form>
