<h4>Please sign up to continue</h4>
<form action='/addUser' method='post'>
  <p>Name: <input name='username'></p>
  <p>Twitter handle (https://www.twitter.com/): <input name='tweet'></p>
  <p>Instagram handle (https://www.instagram.com/): <input name='insta'></p>
  <p>Facebook handle (https://www.facebook.com/): <input name='fb'></p>
  <p>Linked In handle (https://www.linkedin.com/in/): <input name='lnk'></p>
  <p>Youtube handle (https://www.youtube.com/channel/): <input name='yt'></p>
  <input type=submit value='Submit form!'>
</form>
